/poggioAdventure/target/
/poggioAdventure/.vscode/
/poggioAdventure/resources/logs/*
/AppuntiOOP.md
/poggioAdventure/sav
/poggioServer/target/
/poggioServer/resources/poggioDatabase.lock.db
/poggioServer/resources/poggioDatabase.mv.db
/poggioServer/logs/
